**
!.gitignore
!debugging.png
!hodnoceni.txt
!manual.pdf
!mockup/
!mockup/mockup-b.png
!mockup/mockup-w.png
!plan/
!plan/xschabt00_xpaterm00_xsubrtj00_xsamelm00_plan.txt
!profiling/
!profiling/zprava.pdf
!README.md
!skutecnost.txt
!screenshot.png
!src/
!src/calc_library.py
!src/data10.txt
!src/data1000.txt
!src/data1000000.txt
!src/Doxyfile
!src/gui_cal.py
!src/Makefile
!src/stddev
!src/tests_calc_library.py
